SERVER_PORT=8011
SPRING_PROFILES_ACTIVE=prod

DB_URL=jdbc:mysql://localhost:3306/my_db?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
DB_USERNAME=my_db
DB_PASSWORD=

REDIS_DATABASE=1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TIMEOUT=5000
REDIS_PASSWORD=

ES_URIS=http://localhost:9200
ES_USERNAME=
ES_PASSWORD=

COS_HOST=
COS_SECRET_ID=
COS_SECRET_KEY=
COS_REGION=
COS_BUCKET=

IMAGE_GENERATION_WORKER_TOKEN=
IMAGE_GENERATION_CONFIG_SECRET=
IMAGE_GENERATION_RUNNING_TIMEOUT_MINUTES=20
IMAGE_GENERATION_RUNNING_TIMEOUT_SCAN_INTERVAL_MS=300000

AUTH_LOGIN_CAPTCHA_REQUIRED=true

SPRING_MAIL_HOST=
SPRING_MAIL_PORT=465
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_ENABLE=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=false

KNIFE4J_ENABLE=false

YUQUE_BASE_URL=https://www.yuque.com/api/v2
YUQUE_TOKEN=
YUQUE_SYNC_ENABLED=false
YUQUE_SYNC_CRON=0 */10 * * * ?
YUQUE_CONNECT_TIMEOUT_MS=5000
YUQUE_READ_TIMEOUT_MS=15000
YUQUE_DEFAULT_VISIBILITY=public
YUQUE_MIN_REQUEST_INTERVAL_MS=1200
YUQUE_MAX_RETRIES=3
YUQUE_RETRY_BASE_SLEEP_MS=3000
YUQUE_RETRY_MAX_SLEEP_MS=20000

WX_MP_TOKEN=
WX_MP_AES_KEY=
WX_MP_APP_ID=
WX_MP_SECRET=
WX_OPEN_APP_ID=
WX_OPEN_APP_SECRET=
